<a href="https://colab.research.google.com/github/KashiReddy31/BookStore/blob/main/task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1.

age = 25
age += 10
print(age)

35

In [ ]:
# 2.

name = "kashi reddy"
print(len(name))

11

In [ ]:
# 3.

print(type(age))
print(isinstance(age, int))

<class 'int'>
True

In [ ]:
# 4.

age_str = str(age)
sentence = name + " is " + age_str + " years old."
print(sentence)

kashi reddy is 35 years old.

In [ ]:
# 5.

height = 175.5
height = round(height)
print(height)

176

In [ ]:
# 6.

print(type(height))
height_int = int(height)
print(type(height_int))

<class 'int'>
<class 'int'>

In [ ]:
# 7.

is_student = True
if is_student: print("You are a student")
else: print("You are not a student")

You are a student

In [ ]:
# 8.

print(type(is_student))

<class 'bool'>

In [ ]:
# 9.

colors = ["red", "blue", "green", "yellow", "purple"]
print(colors[-1])

purple

In [ ]:
# 10.

print(colors[1:4:2])

['blue', 'yellow']

In [ ]:
# 11.

dim = (10, 5, 3)
l, w, h = dim
print(l)
print(w)
print(h)

10
5
3

In [ ]:
# 12.

print(h)

3

In [ ]:
# 13.

person = {"name": "kashi", "age": 25, "city": "kadapa"}
person["profession"] = "data analyst"
print(person)

{'name': 'kashi', 'age': 25, 'city': 'kadapa', 'profession': 'data analyst'}

In [ ]:
# 14.

print(person["age"])
person["age"] += 1
print(person["age"])

27
28

In [ ]:
# 15.

unique_numbers = {11, 21, 32, 42, 52}
print(len(unique_numbers))

5

In [ ]:
# 16.

unique_numbers.add(62)
print(unique_numbers)
unique_numbers.add(32)
print(unique_numbers)

{32, 52, 21, 42, 11, 62}
{32, 52, 21, 42, 11, 62}

In [ ]:
# 17.

x = 88
x_float = float(x)
print(x_float)

88.0

In [ ]:
# 18.

x += 5
print(x)

98

In [ ]:
# 19.

y = x ** 2
print(f"x: {x}, y: {y}")

x: 88, y: 7744

In [ ]:
# 20.

x, y = y, x
print(f"After swapping: x: {x}, y: {y}")

After swapping: x: 7744, y: 88